body {
  font-family: 'Montserrat', sans-serif !important;
  /* background: url('../../images/background-image.jpg') no-repeat center; */
  background-size: cover;
}
h1,h2,h3,h4,h5,h6 {font-weight: bold !important; color: #333 !important;}
a.nav-link {font-size: 13px;}
.text-navyblue {color: #323299 !important;}
.text-navyblue:hover {opacity: .9; transition: .20s;}
.text-darkred {color: darkred !important;}
.text-darkred:hover {opacity: .9; transition: .20s;}
.text-dark-navy {color: #000 !important;}
.text-dark-navy:hover {color: #323299 !important;}
.text-sm {font-size: 12px;}
.bg-blue {background: #0500a5 !important;}
.bg-darkred {background: darkred !important;}
.bg-navyblue {background: #000059 !important;}
.btn-outline-navyblue {color: #323299 !important; border: 1px solid #323299 !important;}
.btn-outline-navyblue:hover {color: #fff !important; background: #000059 !important;}
.card {box-shadow: none !important;}
/* .card:hover {border: 1px solid rgba(0,0,128,0.3) !important;} */
#card:hover {border: 1px solid rgba(0,0,128,0.3) !important;}

/* ---------------------------------------------------
    TOPNAV STYLE
----------------------------------------------------- */
.topnav {
  background: transparent !important;
  transition: .45s !important;
}

.topnav.scrolled {
  background: #003471 !important;
}

.navbar-header {
  background: transparent !important;
  font-size: 14px !important;
  transition: .45s !important;
}

.navbar-header.scrolled {
  display: none;
}

#contact-button {
  position: fixed;
  bottom: 0;
  right: 0;
}

#contact-button-icon {
  border: 1px solid white;
}

#contact-button-icon:hover {
  opacity: .8;
}


/* ---------------------------------------------------
    CAROUSEL STYLE
----------------------------------------------------- */
#carousel1 {
  width: 100%;
  height: 100vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/carousel/carousel-2.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#carousel2 {
  width: 100%;
  height: 100vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/carousel/carousel-3.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#carousel3 {
  width: 100%;
  height: 100vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/carousel/carousel-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---------------------------------------------------
    CONTACT SECTION STYLE
----------------------------------------------------- */
.bg-img-contact {
  background: url('https://hopecenterofedmond.com/wp-content/uploads/2018/03/contact-us-banner.jpg') center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-size: cover;
}


/* ---------------------------------------------------
    Discover Access Page STYLE
----------------------------------------------------- */
/* Discover Access*/
#header-discover {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/lagro_branch.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

#row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border-underline {
  border-bottom: 1px solid red;
}

/* Discover Access*/
#advocacy {
  width: 100%;
  height: 60vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../../images/header-image/admin-office.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Access Announcements*/
#header-announcement {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/header-campuses.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

/* Access Events*/
#header-event {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/events.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

/* Access News*/
#header-news {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/header-campuses.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

/* Access Programs*/
#header-vocational {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/header-courses.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

#header-collegiate {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/header-collegiate.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

#header-shortcourse {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/header-collegiate.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

#header-seniorhigh {
  width: 100%;
  height: 100vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/senior_high_header.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

/* Access Campuses*/
#header-campuses {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../images/header-image/header-campuses.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

/* Access Admission*/
#header-admission {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../../images/header-image/admin-office.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

/* Access Contact*/
#header-contact {
  width: 100%;
  height: 80vh;
  background:linear-gradient(0deg,rgba(0,20,70,0.6),rgba(0,20,70,0.6)),url('../../images/header-image/admin-office.jpg') center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.text-muted:hover {
  transition: .45s;
  color: #000 !important;
}

a {
  text-decoration: none !important;
  text-transform: inherit !important;
}

#calendar {
  background-color: #000059 !important;
  text-align: center !important;
}

#dw-p1 a {
  font-size: 15px !important;
}

#sidenav {
  background:linear-gradient(0deg,rgba(30,58,111, 0.9),rgba(30,58,111, 0.9)) !important;
}

@media only screen and (max-width: 680px) {
  .side-content {
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
}
