#loader {
   width: 100%;
   height: 100%;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* / Add animation to "page content" / */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:0px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:0px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
