
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebarCollapse {
  display: none;
}

#sidebar.active {
    display: block;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content.active {
    display: none;
}

#sidebarCollapse2 {
  display: none;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 981px) {
    #sidebar.active {
      display: block;
    }
    #content.active {
      display: block;
    }
}

@media (max-width: 981px) {
    #sidebar {
      display: none;
    }
    #sidebar.active {

    }
    #sidebarCollapse {
      display: block;
    }
    #sidebarCollapse2 {
      display: block;
    }
    .category-card {
      max-width: 500px;
    }
}
